@using AuctionApp.Application.DTOs
@model IEnumerable<AuctionDTO>

<!DOCTYPE html>
<html>
<head>
	<title>Canlı Müzayede</title>
</head>
<body>
	<h3 style="color:slategrey; text-align:center;">Müzayede Ürünleri</h3>


	<div class="row" style="height:250px">
		<div  >
			<div class="row" >
				@foreach (var item in Model)
				{
					<div class="col-lg-4 col-md-6 text-center" >
                        <div class="single-product-item">
                            <div class="product-image">
                                <a asp-controller="Auction" asp-action="AuctionDetail" asp-route-id=@item.Id><img src="@item.Product.Image" style="height:240px; width:auto" alt=""></a>
                            </div>
							<h3 style="color:coral">@item.Title</h3>
                            <p class="product-price"><span>Açılış Fiyatı</span> @item.Product.BeginPrice </p>
                          
                            <form asp-action="RegisterAuction" method="post">
                                <input type="hidden" name="auctionId" value=@item.Id>
                                <button style="border-radius:50px; border:none; width:180px; padding:7px; background-color:slategray; color:white" type="submit">Müzayedeye Katıl</button>
                            </form>
                        </div>
					</div>
				}
			</div>
		</div>
	</div>
</body>
</html>
